body{
    background-color: blanchedalmond;
}
h1{
    font-family: "Times New Roman";
    font-style: italic;
    text-decoration: underline;
}

header{
    background-color: rgb(165, 121, 54);
    display: flex;
    gap: 150px;
    padding: 10px;
}

footer{
    background-color: rgb(165, 121, 54);
}

.movie_display{
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo{
    width: 50px;
}

input{
    width: 200px ;
    height: 20px;
    

}

